@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
    box-sizing: border-box;
}
.dashboardHeader
{
    display: flex;
    background-color: #822B2B;
    flex-direction: row;
    align-content: center;
    padding-top: 10px;
    height: 3em;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    overflow: hidden;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}
input[type="text"], input[type="password"],input[type="search"], textarea, select { 
    outline: none;
}
.userNameTop
{
    color:#ccc;
}
#wrapper{
    display: flex;
    flex-direction: row;
    background-color: #822B2B;
}
#left{
    flex:1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #822B2B;;
}
#right{
    flex:1;
    
    }
/* Sign In */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 0.1rem;
}
#signin form{
    width: 80%;
    padding-bottom: 1rem;
}

#signin .logo{
    margin-bottom: 8vh;
}
#signin .logo img{
    width: 300px;
    
}
#signin label{    
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
    color:#ccc;
}
#signin .text-input{
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid #555555;
    color: #555555;
    padding: 0.5rem 1rem;
    line-height: 1rem;
}
#signin .primary-btn{
    width: 100%;
}

#signin .secondary-btn,
.or, 
.links{
    width: 60%;
}

#signin .links a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}

#signin .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background: #aaaaaa;
}

#signin .or span{
    color: #ccc;
    padding: 0 0.9rem;
}
/* Showcase */
#showcase{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    background: url('loginpage.png') no-repeat center top / cover;
      
}
 #showcase .showcase-text{ 
    font-size: 2rem;
    width: 100%;
    color: yellow;
    margin-bottom: 25rem;
    font-family: 'Oswald', sans-serif;
}

#showcase .secondary-btn{
    width: 60%;
     margin: auto; 
     margin-bottom: 20rem;
}

/* footer */
#main-footer{
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 100%;
    padding-top: 3rem;
    background-color: #822B2B;
}
#main-footer a {
    color: #ccc;
    text-decoration: none;
    
}

/* Button */
.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    background: #EAD22B;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover{
    background-color: #ff7b39;
}

.secondary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    
}

.secondary-btn:hover{
    border-color: #fff239;
    color: #fff239;
}

/* Media Queries */
@media(min-width: 1200px){
    #left{
        flex: 4;
    }
    #right{
        flex: 6;
    }
}
@media(max-width: 768px){
body{
    overflow: auto;
}

    #right{
        display: none;
    }
    #left{
        justify-content: start;
        margin-top: 4vh;
    }
    #singin .logo{
        margin-bottom: 2vh;
    }
    #sigin .text-input{
        margin-bottom: 0.7rem;
    }
    #main-footer{
        padding-top: 1rem;
    }
}
.container-fluid
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*Search Bar*/

.wrapper1 {
    max-width: 100%;
    padding: 0 1.5em;
    background: white;
    border: 1px solid lightgray;
    border-radius: 1.5em;
    overflow: hidden;
    top:0;
    z-index: 2;
    position: relative;
  }

.search {
  display: flex;
  height: 2em;
  align-items: center;
  border:none;
}
#search{
border: none !important;
width:15em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5em;
  border-top: 1px solid lightgray;
  max-height: 0;
  overflow: hidden;
  overflow-y: auto;
  animation: enlarge .25s forwards;
  cursor: pointer;
}
.ul .li:hover{
    background-color:#CCC ;
}
.result {
  display: flex;
  align-items: center;
}
@keyframes enlarge {
  to {
    max-height: 10em;
  }
}
/*-------------------*/
/* Movie List */
.movieList {
    display: flex;
    border:1px solid green;
  }
  .movieName {

    margin: 14px;
    border: 1px solid #c0c0c0;
    width: 202px;
    height: 230px;
    box-shadow: 2px 2px 20px #c0c0c0;
    text-align: center;
    align-content: center;
    color: maroon;
    background-color: #fffff0;
  }
  .movieImg
{
  height: 140px;
  width: 200px;
}

.grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    left:0px;
  }
  
  .grid-item {
    margin: 14px;
    border: 1px solid #c0c0c0;
    width: 202px;
    height: 230px;
    box-shadow: 2px 2px 20px #c0c0c0;
    text-align: center;
    align-content: center;
    color: maroon;
    background-color: #fffff0;
    cursor: pointer;
  }
  .displayMovie
  {
      height:100vh;
      overflow: auto;
      margin-top: 2em;
      width: 100%;
      padding-left: 50px;
  }
  .playMovieImg{
      width:100%;
      height: 70vh;
  }
  /*-------------------------*/

